.container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  font-family: sans-serif;
}

.heading {
  font-size: 4vw;
  line-height: 5vw;
  text-transform: uppercase;
}
