.container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 1rem;
  font-size: 64px;
  font-family: sans-serif;
}

.heading {
  font-size: 98px;
  text-transform: uppercase;
}
