.container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 64px;
  font-family: sans-serif;
}

.heading {
  font-size: 98px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }

  .container {
    font-size: 8vw;
  }
}
